<div class="scroll-up">
    <a href="#home" class="blobber" id="scroll-up">←</a>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-left">
                    <h5>Contact</h5>
                    <p>Typography Studio</p>
                    <ul>
                        <li><a href="tel:+61406437793">+61 (0)406 437 793</a></li>
                        <li><a href="mailto:duncan@tempohaus.com">duncan@tempohaus.studio</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="books.html">Book Design</a></li>
                    <li><a href="typesetting.html">Typesetting</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="footer-right">
                
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://tempohaus.us17.list-manage.com/subscribe/post?u=7fc01f5dc14cd07e85fdbf5d0&amp;id=ee4519eef6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="email">Sign up to our mailing list</label>
                                <div class="mc-field-group form-group">
                                    <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                                    <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button btn">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_7fc01f5dc14cd07e85fdbf5d0_ee4519eef6" tabindex="-1" value="">
                                </div>
                                
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->

                </div>
            </div>
        </div>
    </div>
</footer>
